.credits {
  /* width: 50%;
  height: 80%;
  overflow: auto; */
}
@keyframes scrollAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
.html-ob {
  text-align: center;
}
