.html-ob {
  transform: translate(-50%, -50%) !important;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay {
  width: 700px;
  height: 200px;
  background-color: rgba(226, 139, 255, 0.602);
  border-radius: 6px;
  padding: 20px 0;
  margin: 20px 0;
}
.hint {
  display: flex;
  flex-flow: column;
  background-color: rgba(124, 124, 124, 0.602);
  text-shadow: 2px black;
  border-radius: 16px;
  padding: 10px 0;
  width: 500px;
}
.hint p {
  margin: auto;
  line-height: 4;
  font-size: 18px;
}
@media only screen and (max-width: 600px) {
  .screen {
    width: 300px;
    margin-left: -150px;
  }
  .screen p {
    word-wrap: break-word !important;
    white-space: initial;
  }
  .hint {
    margin: 220px 0;
    width: 300px;
  }
}
