/* Hide scrollbar for Chrome, Safari and Opera */
.overlay-tech::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.overlay-tech {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.html-ob {
  transform: translate(-50%, -50%) !important;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  /* justify-content: center; */
  align-items: center;
}
.overlay {
  width: 700px;
  height: 600px;
  margin: 20px 0;
  overflow: auto;
  display: flex;
  flex-flow: row;
  align-items: center;
  text-align: justify;
}
.overlay-tech {
  display: flex;
  height: 600px;
  overflow: auto;
  display: flex;
}
.overlay p {
  border-radius: 6px;
  padding: 1em 2.5em;
  background-color: rgba(255, 33, 248, 0.518);
  font-weight: 500;
  margin: 2em 0;
}
.planet-heading {
  /* margin-bottom: auto; */
  margin-top: 1.5em;
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black; */
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.hint {
  display: flex;
  flex-flow: column;
  background-color: rgba(124, 124, 124, 0.602);
  text-shadow: 2px black;
  border-radius: 16px;
  padding: 10px 0;
  width: 500px;
  margin: auto;
}
.hint > p {
  margin: 1em auto;
  font-size: 18px;
  white-space: nowrap;
}

#cards {
  list-style: none;
}

.card__content {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: rgb(75 76 103 / 46%);
  color: rgb(255, 255, 255);
  border-radius: 1em;
  overflow: hidden;
  outline: var(--outline-width) solid lime;

  display: flex;
  justify-content: space-between;
  padding: 1.5em;
  align-items: center;
}
.card__content > h3,
p {
  margin: 0px;
}

h1 {
  font-weight: 500;
  font-size: 3.5em;
}

h2 {
  font-weight: 300;
  font-size: 2em;
}

h3 {
  font-weight: 200;
  font-size: 1.2em;
}

p {
  font-family: sans-serif;
  font-weight: 300;
  line-height: 1.42;
}

.btn {
  background: rgb(188 87 36);
  color: rgb(255 255 255);
  text-decoration: none;
  display: inline-block;
  padding: 0.5em;
  border-radius: 0.25em;
}

.accordion {
  max-width: 600px;
  width: 600px;
  margin: auto;
}

.accordion-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  background-color: #21aeca81;
  font-size: 1.5em;
  border-radius: 6px;
  margin: 4px 0px;
  font-weight: 300;
}

.accordion-title:hover {
  background-color: #3ab4cc9c;
}

.accordion-title,
.accordion-content {
  padding: 1rem;
}

.accordion-content {
  background-color: #39b9d279;
  font-weight: 100;
}

@media screen and (max-width: 700px) {
  body {
    font-size: 18px;
  }

  .accordion {
    width: 90%;
  }
}
.stacking-cards {
  max-height: 350px;
  overflow: scroll;
  min-height: 100px;
}
.stacking-cards > ul {
  padding: 0px;
}
.stacking-cards > ul > li {
  margin: 1em;
}
@media only screen and (max-width: 600px) {
  .overlay {
    width: 95vw;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
  }
  .hint {
    margin: 220px 0;
    width: 300px;
  }
  .accordion {
    width: 90vw;
  }
  .overlay-tech {
    height: 500px;
  }
  .overlay {
    height: 550px;
  }
}
