.sidebar {
  position: fixed;
  left: 48px;
  bottom: 40%;
  color: #aaa;
}
.sidebar .heading {
  margin: 1rem 0;
  cursor: pointer;
  color: #fff;
  display: flex;
}
.sidebar .heading:hover {
  color: #fff;
}
.heading > div:only-child {
  color: #aaa;
}
